.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.spinner-border {
  animation-duration: .25s;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
.google-font{font-family: 'Ubuntu', sans-serif;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}






.message_holder {
  margin-bottom : 5px;
}
.chat_container {
  max-width : 300px;
  height : 500px;
  background-color : white;
  overflow: auto;
  padding : 5px 5px 0px 5px;
}
.chat {
  padding : 10px;
  border: 2px solid #ccc;
}
.user1{
  float : left;
  border-radius : 0px 10px 10px 10px;
}
.user2{
  float : right;
  border-radius : 10px 0px 10px 10px;
}